@page
@{@using System.Globalization
@model Zealand_Carpool.Pages.CarpoolPage.CarpoolsModel
}
<head runat="server">
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>

        #map {
            height: 200px;
            /*            width: 400px;
            margin-left: 60%*/;
            margin: auto;
        }
    </style>
</head>
<div class="container">

    <div class="text-center">
        <form method="post" class="row">

            <div class="col-auto">
                <label>Søg</label>
            </div>
            <div class="col">

                <input type="text" asp-for="@Model.Search" class="form-control" placeholder="Søg i Afdeling eller Adresse (skal udfyldes)">

            </div>
            <div class="col">
                <input asp-for="@Model.Date" class="form-control" />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Søg</button>
            </div>

        </form>
    </div>

    @foreach (Models.Carpool carpool in Model.AllCarpools)
    {
        <div class="card-columns" style="column-count:2;">
            <div class="card">
                <div class="card-body">
                    <div class="card-text" id="map"></div>
                    <h5 class="card-title">Adresse fra: @carpool.Driver.AddressList[0].StreetName @carpool.Driver.AddressList[0].StreetNumber Til: @carpool.Branch.BranchName</h5>

                    
                    <p class="card-text">Dato for kørsel: @carpool.Date.ToString()</p>
                    <a class="btn btn-light float-right" type="button" asp-page="/CarpoolPage/RequestCarPooling" asp-route-id="@carpool.CarpoolId">Kør med</a>
                </div>
            </div>


        </div>
    }
</div>

