@page
@{ 
@model Zealand_Carpool.Pages.CarpoolPage.CarpoolsModel
}

<div class="container">

    <div class="text-center">
        <form method="post" class="row">

            <div class="col-auto">
                <label>Søg</label>
            </div>
            <div class="col">

                <input type="text" asp-for="@Model.Search" class="form-control" placeholder="Søg i Afdeling eller Adresse (skal udfyldes)">

            </div>
            <div class="col">
                <input asp-for="@Model.Date" class="form-control" />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Søg</button>
            </div>

        </form>
    </div> <br />
    @if (Model.AllCarpools.Count == 0) 
    {
        <h4 class="text-center">Der er ikke nogen carpools med din søgning</h4>
        <h5 class="text-center">Indtast en adresse / bynavn / Afdellings navn og derfra vælg fra et bestemt tidpunkt og tryk søg</h5>
    }

    @foreach (Models.Carpool carpool in Model.AllCarpools.Values)
    {
        <div class="shadow p-3 mb-5 bg-white rounde">
            <div class="row">
                <div class="col">
                    <h3>Kør med @carpool.Driver.Name @carpool.Driver.Surname</h3>
                    
                </div>
                <div class="col">

                    @if (@carpool.HomeAdress)
                    {
                        <p>Der bliver kørt fra Adresse: @carpool.Driver.AddressList[0].StreetName @carpool.Driver.AddressList[0].StreetNumber, @carpool.Driver.AddressList[0].CityName @carpool.Driver.AddressList[0].Postalcode</p>
                        <p>Til Afdellingen i @carpool.Branch.BranchName</p>
                    }
                    else
                    {
                        <p>Der bliver kørt fra Afdeling: @carpool.Branch.BranchName</p>
                        <p>Til Adresse i  @carpool.Driver.AddressList[0].StreetName @carpool.Driver.AddressList[0].StreetNumber, @carpool.Driver.AddressList[0].CityName @carpool.Driver.AddressList[0].Postalcode </p>
                    }
                    <p>Til Dato & tidspunkt: @carpool.Date.ToString()</p>
                    <p><b>Pladser Tilbage: </b> @(carpool.PassengerSeats-carpool.Passengerlist.Count)</p>
                </div>


                <div class="col">
                    <a class="btn btn-info" type="button" asp-page="/CarpoolPage/RequestCarpooling" asp-route-id="@carpool.CarpoolId">Kør med!</a>
                </div>
            </div>
            <br />
        </div>

        
    }
</div>

