@page
@model Zealand_Carpool.Pages.CarpoolPage.OfferCarpoolModel
@{

}
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label class="custom-control-label">Fra Adresse/Afdeling </label><br />
                    <select name="AddressId" class="form-control" asp-for="@Model.AddressId" asp-items="@Model.Branches">
                    </select>

                </div><br />
                <br />
                <div class="form-group">
                    <label class="custom-control-label">Til Adresse/Afdeling</label><br />
                    <select name="BranchId" class="form-control" asp-for="@Model.BranchId" asp-items="@Model.Branches">
                    </select>

                </div><br />
                <div class="form-group">
                    <label class="custom-control-label">Dato & Tidpunkt</label>
                    <input asp-for="@Model.Carpool.Date" class="form-control" />
                    <span asp-validation-for="@Model.Carpool.Date" class="text-danger"></span>
                </div> <br>
                <div class="form-group">
                    <label class="custom-control-label">Detaljer til turen</label>
                    <textarea asp-for="@Model.Carpool.Details" cols="120" style="height:5rem" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Carpool.Details" class="text-danger"></span>
                </div> <br />
                <div class="form-group">
                    <label class="custom-control-label">Antal passager</label>
                    <input asp-for="@Model.Carpool.PassengerSeats" class="form-control" />
                    <span asp-validation-for="@Model.Carpool.PassengerSeats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.Carpool.Driver.Id" class="form-control" />
                    <input type="submit" class="btn btn-success float-right" value="Opret Carpool" style="padding:1rem;" />
                </div>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>
