@page "{id}"
@using System.Globalization
@model Zealand_Carpool.Pages.CarpoolPage.RequestCarpoolingModel
@{
}
<head runat="server">
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        #map {
            height: 400px;
        }
    </style>
</head>
<div class="container">
    <div class="text-center">
        <h3>Kør med @Model.Carpool.Driver.Name @Model.Carpool.Driver.Surname</h3>
    </div>
    <div class="row">
        <div class="col">
            @if (@Model.Carpool.HomeAdress)
            {
                <p>Der bliver kørt fra adreese: @Model.Carpool.Driver.AddressList[0].StreetName @Model.Carpool.Driver.AddressList[0].StreetNumber, @Model.Carpool.Driver.AddressList[0].CityName @Model.Carpool.Driver.AddressList[0].Postalcode</p>
                <p>Til Afdellingen i @Model.Carpool.Branch.BranchName</p>
            }
            else
            {
        <p>Der bliver kørt fra Afdeling: @Model.Carpool.Branch.BranchName</p>
        <p>Til Adresse i  @Model.Carpool.Driver.AddressList[0].StreetName @Model.Carpool.Driver.AddressList[0].StreetNumber, @Model.Carpool.Driver.AddressList[0].CityName @Model.Carpool.Driver.AddressList[0].Postalcode </p>
            }
            <p>Til Dato & tidspunkt: @Model.Carpool.Date.ToString()</p>
            <p>Detaljerne for kørslen: @Model.Carpool.Details</p>
            @if (Model.LoggedInUser.Id != Model.Carpool.Driver.Id && !Model.Carpool.Passengerlist.ContainsKey(Model.LoggedInUser.Id))
            {
                <form asp-page-handler="RequestCarpool">
                    <input type="hidden" asp-for="@Model.Carpool.CarpoolId" />
                    <input type="hidden" asp-for="@Model.LoggedInUser.Id" />
                    <button type="submit" class="btn btn-primary mb-3">Ansøg om plads</button>
                </form>
            }
            <a asp-page="/Userpage/VisitUsersProfile" asp-route-id="@Model.Carpool.Driver.Id" class="btn btn-info">Kontakt Chauffør</a>
            <span class="border-bottom"></span>
            @if (Model.LoggedInUser.Id == Model.Carpool.Driver.Id)
            {
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    Slet Carpool
                </button>
            }
            <br />
            <h6> Passagere der har tilsluttet sig denne carpool: </h6>
            @if (Model.Passengers.Count > 0)
            {
                @for (int i = 0; i < Model.Passengers.Count; i++)
                {

                    <div class="card" style="width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Passengers[i].User.Name @Model.Passengers[i].User.Surname</h5>
                            <p class="card-text">Bor: @Model.Passengers[i].User.AddressList[0].StreetName @Model.Passengers[@i].User.AddressList[0].StreetNumber, @Model.Passengers[i].User.AddressList[0].Postalcode @Model.Passengers[i].User.AddressList[0].CityName</p>
                            <a asp-page="/Userpage/VisitUsersProfile" asp-route-id="@Model.Passengers[i].User.Id" class="card-link">Tryk her for detaljer</a>
                            @if (Model.Carpool.Passengerlist.ContainsKey(Model.LoggedInUser.Id) && Model.LoggedInUser.Id == Model.Passengers[i].User.Id)
                            {
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1">
                                    Afmeld passager plads
                                </button>
                            }
                            @if (Model.LoggedInUser.Id == @Model.Carpool.Driver.Id)
                            {
                                <form asp-page-handler="DeletePasFromChau" asp-route-id="@Model.Passengers[i].User.Id">
                                    <input type="hidden" asp-for="@Model.Carpool.CarpoolId" />
                                    <input type="hidden" asp-for="@Model.Passengers[@i].User.Id" />
                                    <button type="submit" class="btn btn-primary mb-3">Afmeld Passageren</button>
                                </form>
                                @if (!Model.Passengers[i].IsAccepted)
                                {
                                    <form asp-page-handler="AcceptPas" asp-route-id="@Model.Passengers[i].User.Id">
                                        <input type="hidden" asp-for="@Model.Carpool.CarpoolId" />

                                        <button type="submit" class="btn btn-primary mb-3">Acceptere Passageren</button>
                                    </form>
                                }
                                else
                                {
                                    <p>Personen er blevet accepteret til denne Carpool</p>
                                }
                            }
                        </div>
                    </div>
                }
            }

        </div>


        <div class="col">

            <div id="map"></div>

            <script>
        function InitializeMap() {

            var latlng = new google.maps.LatLng(@Model.Carpool.Driver.AddressList[0].Latitude.ToString(new CultureInfo("en-US")), @Model.Carpool.Driver.AddressList[0].Longtitude.ToString(new CultureInfo("en-US")));

            var myOptions = {
                zoom: 13,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map"), myOptions);

            new google.maps.Marker({
                position: latlng,
                map,
                title: "Zealand Roskilde",
            });

        }
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2t8TFM7VJY_gUpk45PYxbxqqxPcasVho&callback=InitializeMap" async defer></script>


        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Slettelse af Din Carpool</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Er du sikker på at du vil slette din oprettet Carpool?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nej</button>
                <form method="post" asp-page-handler="DeleteCarpool">
                    <input type="hidden" asp-for="@Model.Carpool.CarpoolId" />
                    <button type="submit" class="btn btn-danger">Ja</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Slettelse af Din Carpool</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Er du sikker på at du vil afmelde din plads i denne Carpool?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nej</button>
                <form method="post" asp-page-handler="DeletePas">
                    <input type="hidden" asp-for="@Model.Carpool.CarpoolId" />
                    <input type="hidden" asp-for="@Model.LoggedInUser.Id" />
                    <button type="submit" class="btn btn-danger">Ja</button>
                </form>
            </div>
        </div>
    </div>
</div>