@page
@model Zealand_Carpool.Pages.CarpoolPage.RequestCarpoolingModel
@{
}
<div class="container">
    <div class="text-center">
        <h3>Kør med @Model.Carpool.Driver.Name @Model.Carpool.Driver.Surname</h3>
    </div>
    <div class="row">
        <div class="col">
            <p>Der bliver kørt fra adreese: @Model.Carpool.Driver.AddressList[0].StreetName @Model.Carpool.Driver.AddressList[0].StreetNumber, @Model.Carpool.Driver.AddressList[0].CityName @Model.Carpool.Driver.AddressList[0].Postalcode</p>
            <p>Til Afdellingen i @Model.Carpool.Branch.BranchName, @Model.Carpool.Branch.BranchPostalCode</p>
            <p>Til Dato & tidspunkt: @Model.Carpool.Date.ToString()</p>
            <button type="submit" asp-page-handler="RequestCarpool" asp-route="@Model.Carpool.CarpoolId" class="btn btn-primary mb-3">Ansøg om plads</button>
            <button type="submit" class="btn btn-primary mb-3">Kontakt Chauffør</button>
        </div>
        <div class="col">
            (maps)
            @if (Model.LoggedInUser.Id == Model.Carpool.Driver.Id)
            {
                <button type="submit" asp-page-handler="DeleteCarpool" asp-route="@Model.Carpool.CarpoolId" class="btn btn-danger">Slet Carpool</button>
            }
        </div>
    </div>
</div>