@page
@model Zealand_Carpool.Pages.Userpage.AddressModel
@{
}
<form>
    <div class="row">
        <h6>Adresse 1:</h6>
        <div class="col">
            <div class="form-group">
                <label class="form-text">Vejnavn</label>
                <input asp-for="@Model.Address1.StreetName" class="form-control" />
                <span asp-validation-for="@Model.Address1.StreetName" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="form-text">Vejnummer</label>
                <input asp-for="@Model.Address1.StreetNumber" class="form-control" />
                <span asp-validation-for="@Model.Address1.StreetNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label class="form-text">Postnummer</label>
                <input asp-for="@Model.Address1.Postalcode" class="form-control" />
                <span asp-validation-for="@Model.Address1.Postalcode" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label class="form-text">By</label>
                <input asp-for="@Model.Address1.CityName" class="form-control" />
                <span asp-validation-for="@Model.Address1.CityName" class="text-danger"></span>
            </div>

        </div>
    </div>
    <div class="form-group">

        <input type="submit" class="btn btn-success float-right" value="Opret bruger" asp-page-handler="Async" style="padding:1rem;" />
    </div>
</form>
@Model.latitude.results[0].address_component[0].long_name
@Model.latitude.results[0].address_component[0].short_name

<html>
<head runat="server">
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div element that contains the map. */
        #map {
            height: 400px;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script>
        function InitializeMap() {
            var latlng = new google.maps.LatLng(55.6307194, 12.0786884);

            var myOptions = {
                zoom: 8,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map"), myOptions);
            //var infoWindow = new google.maps.InfoWindow();
            new google.maps.Marker({
                position: latlng,
                map,
                title: "Zealand Roskilde",
            });
            //marker.addListener("click", () => {
            //    infoWindow.close();
            //    infoWindow.setContent(marker.getTitle());
            //    infoWindow.open(marker.getMap(), marker);
            //});
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2t8TFM7VJY_gUpk45PYxbxqqxPcasVho&callback=InitializeMap" async defer></script>
</body>
</html>

