@page
@using Zealand_Carpool.Models.Json
@using System.Globalization
@model Zealand_Carpool.Pages.Userpage.AddressModel
@{
}

<div class="container">
    Hej @Model.LoggedInUser.Name @Model.LoggedInUser.Surname

    <br />

    @foreach (Models.Address address in Model.LoggedInUser.AddressList)
    {
        <p>adresse: @address.StreetName @address.StreetNumber , @address.CityName @address.Postalcode </p>
    }

    Tjekker lige:
    LAT: @Model.LoggedInUser.AddressList[0].Latitude.ToString(new CultureInfo("en-US"))
    LNG: @Model.LoggedInUser.AddressList[0].Longtitude.ToString(new CultureInfo("en-US"))

    DK LAT: @Model.LoggedInUser.AddressList[0].Latitude
    DK LNG: @Model.LoggedInUser.AddressList[0].Longtitude


</div>

<html>
<head runat="server">
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div element that contains the map. */
        #map {
            height: 400px;
            width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script>
        function InitializeMap() {

            var latlng = new google.maps.LatLng(@Model.LoggedInUser.AddressList[0].Latitude.ToString(new CultureInfo("en-US")), @Model.LoggedInUser.AddressList[0].Longtitude.ToString(new CultureInfo("en-US")));

            var myOptions = {
                zoom: 8,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map"), myOptions);
            //var infoWindow = new google.maps.InfoWindow();
            new google.maps.Marker({
                position: latlng,
                map,
                title: "Zealand Roskilde",
            });
            //marker.addListener("click", () => {
            //    infoWindow.close();
            //    infoWindow.setContent(marker.getTitle());
            //    infoWindow.open(marker.getMap(), marker);
            //});
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2t8TFM7VJY_gUpk45PYxbxqqxPcasVho&callback=InitializeMap" async defer></script>
</body>
</html>

