@page
@using Zealand_Carpool.Models
@using System.Globalization
@model Zealand_Carpool.Pages.Userpage.UserChatSignalRModel
@{
}

    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<head>
    <title>Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Chat.css" />
</head>
<body>

    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Chat</h4>
                    </div>
                    
                </div>
           
            
                <div class="inbox_chat scroll">
                    <div class="chat_list active_chat">
                        @foreach (Models.User user in Model.AllUsers.Values.Where(u => u.Id != Model.LoggedInUser.Id))
                        {
                            
                        <div class="chat_people">
                            <div class="chat_img"> <img src="/img/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>@user.Name <span class="chat_date">@DateTime.Now</span></h5>
                                <p>
                                    Adresse:
                                    <br />
                                    @user.AddressList[0].StreetName @user.AddressList[0].StreetNumber
                                    <br>
                                    @user.AddressList[0].CityName
                                    <br>
                                    @user.AddressList[0].Postalcode
                                </p>
                            </div>
                            <a class="btn bg-success" type="button" asp-page="/Userpage/UserChatWindow" asp-route-id="@user.Id">Chat med @user.Name</a>
                            
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="mesgs">
                <container>
                    <head runat="server">
                        <title>Map</title>
                        <meta name="viewport" content="initial-scale=1.0">
                        <meta charset="utf-8">
                        <style>
        
                            #map {
                                height: 400px;
                                /*            width: 400px; */
                                margin-left: 60%;
                                /*margin-right: auto;*/
                            }
                        </style>
                    </head>
                    <body>
                    <div id="map"></div>

                    <script>
    function InitializeMap() {

        var latlng = new google.maps.LatLng(@Model.LoggedInUser.AddressList[0].Latitude.ToString(new CultureInfo("en-US")), @Model.LoggedInUser.AddressList[0].Longtitude.ToString(new CultureInfo("en-US")));
        var myOptions = {
            zoom: 12,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map"), myOptions);
        //var infoWindow = new google.maps.InfoWindow();
        new google.maps.Marker({
            position: latlng,
            map,
            title: "Zealand Roskilde",
        });
                           
                

        @foreach(Models.User user in Model.AllUsers.Values){
            <text>
                new google.maps.Marker({
                    map: map,
                    position:  @user.AddressList[0].Latitude.ToString(new CultureInfo("en-US")), @user.AddressList[0].Longtitude.ToString(new CultureInfo("en-US")) ,
                    title: 'Hello World!'
                });
            </text>

        }
        </script>

                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2t8TFM7VJY_gUpk45PYxbxqqxPcasVho&callback=InitializeMap" async defer></script>
                    </body>
                </container>
            </div>
        </div>
    </div>

</body>







