@page
@model Zealand_Carpool.Pages.Userpage.UserChatModel
@{
}
<div class="container">
    <div class="text-center">
        <h4>Du skriver til @Model.User2.Name @Model.User2.Surname</h4>
    </div>
    <br />
    @foreach (Models.ChatText chatTexts in Model.ChatTexts)
    {
    <div class="media">
        <div class="media-body">
            <h5 class="mt-0">@chatTexts.user.Name @chatTexts.user.Surname</h5>
            @chatTexts.message
        </div>
    </div>
    }

</div>