@page
@using System.Globalization
@model Zealand_Carpool.Pages.Userpage.UserCarpoolsModel
@{
}

<head runat="server">
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        #map {
            height: 200px;
        }
    </style>
</head>

<div class="container">
    @foreach (var carpool in Model.Carpools)
    {
        <div class="shadow p-3 mb-5 bg-white rounde">
            <div class="row">
                <div class="col">
                    <h3>Kør med @carpool.Value.Driver.Name @carpool.Value.Driver.Surname</h3>
                </div>
                <div class="col">
                    <p>Der bliver kørt fra adreese: @carpool.Value.Driver.AddressList[0].StreetName @carpool.Value.Driver.AddressList[0].StreetNumber, @carpool.Value.Driver.AddressList[0].CityName @carpool.Value.Driver.AddressList[0].Postalcode</p>
                    <p>Til Afdellingen i @carpool.Value.Branch.BranchName</p>
                    <p>Til Dato & tidspunkt: @carpool.Value.Date.ToString()</p>
                    @if (carpool.Value.Driver.Id == Model.LoggedInUser.Id)
                    {
                        <p>Du er Chauffør for denne carpool</p>
                    } else
                    {
                        <p> Du er Passager for denne Carpool</p>
                        @if (carpool.Value.Passengerlist[Model.LoggedInUser.Id].IsAccepted)
                        {
                            <h6>Du er blevet accepteret og er derfor med i denne Carpool !</h6>
                        } else
                        {
                            <h6>Din anmodning er sendt og venter på at blive besvaret, ændringen vil vises her!</h6>
                        }
                    }
                </div>


                <div class="col">
                    
                        <a asp-for="/Userpage/UserChat" class="btn btn-primary mb-3">Kontakt Chauffør</a>
                    
                    @if (Model.LoggedInUser.Id == carpool.Value.Driver.Id)
                    {
                        <button type="submit" class="btn btn-primary mb-3">Slet Carpool</button>
                    }
                </div>
            </div>
            <br />
        </div>
        }
    
</div>