@page
@using Zealand_Carpool.Models
@model Zealand_Carpool.Pages.Userpage.UserChatSignalRModel
@{
}

    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<head>
    <title>Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Chat.css" />
</head>
<body>

    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Chat</h4>
                    </div>
                    
                </div>
           
            
                <div class="inbox_chat scroll">
                    <div class="chat_list active_chat">
                        @foreach (Models.User user in Model.AllUsers.Values.Where(u => u.Id != Model.LoggedInUser.Id))
                        {
                            
                        <div class="chat_people">
                            <div class="chat_img"> <img src="/img/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>@user.Name <span class="chat_date">@DateTime.Now</span></h5>
                                <p>
                                    Adresse:
                                    <br />
                                    @user.AddressList[0].StreetName @user.AddressList[0].StreetNumber
                                    <br>
                                    @user.AddressList[0].CityName
                                    <br>
                                    @user.AddressList[0].Postalcode
                                </p>
                            </div>
                            <a asp-page="/Userpage/UserChatWindow" asp-route-Id="@user.Id"> @user.Id @user.Name</a>
                            <button id="myModalBtn" class="btn" hidden data-toggle="modal" data-target="#myModal"><i class="btn alert-primary"></i></button>
                            <a class="btn bg-success" id="LogBut" type="button" asp-page="">Chat</a>
                        </div>
                        }
                    </div>
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                   
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="/img/user-profile.png" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>
                                        
                                    </p>
                                    <span class="time_date"> 11:01 AM | June 9</span>
                                </div>
                            </div>
                        </div>
                    
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>
                                Dette er en test besked
                            </p>
                            <span class="time_date"> 11:01 AM | June 9</span>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="/img/user-profile.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>Dette er en test besked</p>
                                <span class="time_date"> 11:01 AM | Yesterday</span>
                            </div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>Dette er en test besked</p>
                            <span class="time_date"> 11:01 AM | Today</span>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="/img/user-profile.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    Dette er en test besked
                                </p>
                                <span class="time_date"> 11:01 AM | Today</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Skriv en besked.." />
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>







