@page
@using System.Globalization
@model Zealand_Carpool.Pages.Userpage.UserCarpoolsModel
@{
}


<div class="container">
    @foreach (var carpool in Model.Carpools)
    {
        <div class="shadow p-3 mb-5 bg-white rounde">
            <div class="row">
                <div class="col-sm-3">
                    
                    <h3 class="text-center">
                    @if (carpool.Value.Driver.Id == Model.LoggedInUser.Id)
                    {<b>Chauffør</b>}
                    else
                    {<b>Kør med</b>} <br />
                    <i>@carpool.Value.Driver.Name <br /> @carpool.Value.Driver.Surname</i></h3>
                </div>
                <div class="col-sm-7">
                    @if (carpool.Value.HomeAdress)
                    {
                        <p><b>Der bliver kørt fra Adresse:</b> @carpool.Value.Driver.AddressList[0].StreetName @carpool.Value.Driver.AddressList[0].StreetNumber, @carpool.Value.Driver.AddressList[0].CityName @carpool.Value.Driver.AddressList[0].Postalcode</p>
                        <br />
                        <p><b>Til Afdellingen i:</b> @carpool.Value.Branch.BranchName</p>
                    }
                    else
                    {
                        <p><b>Der bliver kørt fra Afdeling:</b> @carpool.Value.Branch.BranchName </p>
                        <br />
                        <p><b>Til Adresse :</b> @carpool.Value.Driver.AddressList[0].StreetName @carpool.Value.Driver.AddressList[0].StreetNumber, @carpool.Value.Driver.AddressList[0].CityName @carpool.Value.Driver.AddressList[0].Postalcode</p>
                    }
                    <br />
                    <p><b>Til Dato & tidspunkt:</b> @carpool.Value.Date.ToString()</p>
                    <br />
                    <p><b>Pladser Tilbage: </b> @(carpool.Value.PassengerSeats-carpool.Value.Passengerlist.Count)</p>
                    @if (carpool.Value.Driver.Id == Model.LoggedInUser.Id)
                    {
                        <b>Du er Chauffør for denne carpool</b>
                    }
                    else
                    {
                        <b> Du er Passager for denne Carpool</b>
                        @if (carpool.Value.Passengerlist[Model.LoggedInUser.Id].IsAccepted)
                        {
                            <h6>Du er blevet accepteret og er derfor med i denne Carpool !</h6>
                        }
                        else
                        {
                            <h6>Din anmodning er sendt og venter på at blive besvaret, ændringen vil vises her!</h6>
                        }
                    }
                </div>


                <div class="col-sm-2">
                    <br />
                    <div class="float-right">

                    @if (carpool.Value.Driver.Id != Model.LoggedInUser.Id)
                    {
                        <a asp-page="/Userpage/VisitUsersProfile" asp-route-id="@carpool.Value.Driver.Id" class="btn btn-info">Kontakt Chauffør</a>
                    }
                    <br />
                    <a class="btn btn-success" type="button" asp-page="/CarpoolPage/RequestCarpooling" asp-route-id="@carpool.Value.CarpoolId">Gå til Carpool</a>
                    </div>
                </div>
            </div>
        </div>
            <br />
        }
    
</div>

