@page "{Id}"
@using Zealand_Carpool.Models
@model Zealand_Carpool.Pages.Userpage.UserChatWindowModel
@{
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<head>
    <title>Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Chat.css" />
</head>
<body>

<div class="mesgs">
    <div class="msg_history">

                    
        @foreach (Models.ChatText chatTexts in Model.ChatTexts.Where(u => u.user != Model.LoggedInUser))
        {
            <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="/img/user-profile.png" alt="sunil"> </div>
                <div class="received_msg">
                    <div class="received_withd_msg">
                        <span class="usernavn">@chatTexts.user.Name @chatTexts.user.Surname</span>
                        <p>
                            @chatTexts.message
                        </p>
                        <span class="time_date">@chatTexts.TimeStamp</span>
                    </div>
                </div>
            </div>
        }
        @foreach (Models.ChatText chatText in Model.ChatTexts.Where(u => u.user == Model.LoggedInUser))
        {
            <div class="outgoing_msg">
                <div class="sent_msg">
                    <span class="usernavn">@chatText.user.Name @chatText.user.Surname</span>

                    <p>
                        @chatText.message
                    </p>
                    <span class="time_date">@chatText.TimeStamp</span>
                </div>
            </div>
        }
  
    </div>
   
    <div class="container">
        <form method="post">
            <div class="comment">
                <div class="form-group">
                    <label for="ctxt">@Model.LoggedInUser.Name @Model.LoggedInUser.Surname</label>
                    <input asp-for="@Model.ctxt.message" id="ctxt" />
                    <input type="hidden" asp-for="@Model.LoggedInUser.Id" />
                    <br />
            <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                
                </div>
            </div>
        </form>
    </div>
            <br />
</div>
   
<br/>
<br />
<br />

</body>