@page "{Id}"
@using Zealand_Carpool.Models
@using System.Globalization
@model Zealand_Carpool.Pages.Userpage.UserChatWindowModel
@{
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<head>
    <title>Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Chat.css" />
</head>
<body>
<h4>Du skriver med @Model.User2.Name @Model.User2.Surname</h4>
    
<div class="mesgs">
    <div class="msg_history">
        
        @foreach (ChatText chattexts in Model.ChatTexts.Where(u => u.user.Id == Model.User2.Id))
        {
            <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="/img/user-profile.png" alt="sunil"> </div>

                <div class="received_msg">
                    <div class="received_withd_msg">
                        <span class="time_date"> @chattexts.user.Name @chattexts.user.Surname</span>
                        <p>
                            @chattexts.message
                        </p>
                        <span class="time_date">@chattexts.TimeStamp</span>
                    </div>
                </div>
            </div>
        }
        @foreach (ChatText chattexts in Model.ChatTexts.Where(u => u.user.Id == Model.LoggedInUser.Id))
        {
            <div class="outgoing_msg">
                <div class="sent_msg">
                    <span class="time_date"> @chattexts.user.Name @chattexts.user.Surname</span>
                    <p>
                        @chattexts.message
                    </p>
                    <span class="time_date"> @chattexts.TimeStamp</span>
                </div>
            </div>
        }
       

    </div>
<div class="type_msg">
<form method="post">
    <div class="input_msg_write">
        <input asp-for="@Model.Chattxts.message" placeholder="Skriv en besked.."/>
        <input type="hidden" asp-for="@Model.Chat.ChatId"/>


        <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>

    </div>
</form>
       
</div>

</div>


<script>
    $(document).ready(function () {
       
        $('footer').empty();
    });
</script>

    <container>
        <head runat="server">
            <title>Map</title>
            <meta name="viewport" content="initial-scale=1.0">
            <meta charset="utf-8">
            <style>

                #map {
                    height: 400px;
                    /*            width: 400px; */
                    margin-left: 60%;
                    /*margin-right: auto;*/
                }
            </style>
        </head>
        <body>
            <div id="map"></div>

            <script>
        function InitializeMap() {

            var latlng = new google.maps.LatLng(@Model.LoggedInUser.AddressList[0].Latitude.ToString(new CultureInfo("en-US")), @Model.LoggedInUser.AddressList[0].Longtitude.ToString(new CultureInfo("en-US")));
            var user2 = new google.maps.LatLng(@Model.User2.AddressList[0].Latitude.ToString(new CultureInfo("en-US")), @Model.User2.AddressList[0].Longtitude.ToString(new CultureInfo("en-US")));
            var myOptions = {
                zoom: 7,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map"), myOptions);

            new google.maps.Marker({
                position: latlng,
                map,
                title: "User1",
            });

            new google.maps.Marker({
                position: user2,
                map,
                title: "User2",
            });

        }
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2t8TFM7VJY_gUpk45PYxbxqqxPcasVho&callback=InitializeMap" async defer></script>
        </body>
    </container> 
    <br />
    <br />
    <br />

</body>