@page
@model Zealand_Carpool.Pages.Userpage.UserProfile
@{ 
}
<div class="container">
    Hej @Model.LoggedInUser.Name @Model.LoggedInUser.Surname

    <br />
    <p>ID: @Model.LoggedInUser.Id</p>
    <p>Email: @Model.LoggedInUser.Email</p>
    <p>Telefonnummer: @Model.LoggedInUser.Phonenumber</p>
    <p>bruger type: @Model.LoggedInUser.UserType.ToString()</p>
    @foreach (Models.Address address in Model.LoggedInUser.AddressList)
    {
        <p>adresse: @address.StreetName @address.StreetNumber , @address.CityName @address.Postalcode</p>
        <p>@address.Longtitude og @address.Latitude</p>
    }
</div>
<style>
    div.comment {
        margin: 20px;
        border-radius: 5px;
        border: 3px lightgray;
        background: whitesmoke;
        padding: 10px;
        width: 250px;
    }
</style>
<div class="comment">
    <form method="post">
        <label asp-for="@Model.Comment.Text">@Model.LoggedInUser.Name</label>
        <input asp-for="@Model.Comment.Text">
        </input>
        <br/>
        <input type="submit" value="Kommentér"/>
    </form>
</div>
<div class="container">
    @foreach (var comment in Model.UserComments)
    {
        <br />
        <div class="comment">
            <p>@comment.UserPostID</p>
            <p>@comment.Text</p>
        </div>
    }
</div>