@page "{Id}"
@using Zealand_Carpool.Models
@model Zealand_Carpool.Pages.Userpage.UserChatWindowModel
@{
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<head>
    <title>Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Chat.css" />
</head>
<body>
<<<<<<< HEAD

<div class="mesgs">
    <div class="msg_history">

                    
        @foreach (Models.ChatText chatTexts in Model.ChatTexts.Where(u => u.user != Model.LoggedInUser))
        {
            <div class="incoming_msg">
                <div class="incoming_msg_img"> <img src="/img/user-profile.png" alt="sunil"> </div>
                <div class="received_msg">
                    <div class="received_withd_msg">
                        <span class="usernavn">@chatTexts.user.Name @chatTexts.user.Surname</span>
                        <p>
                            @chatTexts.message
                        </p>
                        <span class="time_date">@chatTexts.TimeStamp</span>
                    </div>
                </div>
            </div>
        }
        @foreach (Models.ChatText chatText in Model.ChatTexts.Where(u => u.user == Model.LoggedInUser))
        {
            <div class="outgoing_msg">
                <div class="sent_msg">
                    <span class="usernavn">@chatText.user.Name @chatText.user.Surname</span>

                    <p>
                        @chatText.message
                    </p>
                    <span class="time_date">@chatText.TimeStamp</span>
                </div>
            </div>
        }
  
    </div>
   
    <div class="container">
        <form method="post">
            <div class="comment">
                <div class="form-group">
                    <label for="ctxt">@Model.LoggedInUser.Name @Model.LoggedInUser.Surname</label>
                    <input asp-for="@Model.ctxt.message" id="ctxt" />
                    <input type="hidden" asp-for="@Model.LoggedInUser.Id" />
                    <br />
            <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                
                </div>
            </div>
        </form>
    </div>
            <br />
</div>
   
=======
<div class="container">
    <div class="text-center">
        <h4>Du skriver til @Model.User2.Name @Model.User2.Surname</h4>
    </div>
    <br />
    @foreach (Models.ChatText chatTexts in Model.ChatTexts)
    {
        <div class="media">
            <div class="media-body">
                <h5 class="mt-0">@chatTexts.user.Name @chatTexts.user.Surname</h5>
                @chatTexts.message
            </div>
        </div>
    }

</div>
    
<div class="mesgs">
                <div class="msg_history">
                    
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="/img/user-profile.png" alt="sunil"> </div>
                       
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>
                                      
                                     
                                    </p>
                                    <span class="time_date"> 11:01 AM | June 9</span>
                                </div>
                            </div>
                                      }
                        </div>
                    
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>
                                Dette er en test besked
                            </p>
                            <span class="time_date"> 11:01 AM | June 9</span>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="/img/user-profile.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>Dette er en test besked</p>
                                <span class="time_date"> 11:01 AM | Yesterday</span>
                            </div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>Dette er en test besked</p>
                            <span class="time_date"> 11:01 AM | Today</span>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img src="/img/user-profile.png" alt="sunil"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    Dette er en test besked
                                </p>
                                <span class="time_date"> 11:01 AM | Today</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Skriv en besked.." />
       
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
>>>>>>> master
<br/>
<br />
<br />

</body>