@page
@using System.Globalization
@model Zealand_Carpool.Pages.Userpage.UserProfile
@{
}

<head runat="server">
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>

        #map {
            height: 400px;
        }
        div.comment {
            margin: 10px;
            border-radius: 5px;
            border: 5px lightgray;
            background: whitesmoke;
            padding: 10px;
            width: 250px;
            height: 120px;
        }

    </style>
</head>
<div class="container">
    <div class="row">
        <div class="col">
            Hej @Model.LoggedInUser.Name @Model.LoggedInUser.Surname

            <br />
            
            <p>Email: @Model.LoggedInUser.Email</p>
            <p>Telefonnummer: @Model.LoggedInUser.Phonenumber</p>
            <p>Bruger type: @Model.LoggedInUser.UserType.ToString()</p>
            @foreach (Models.Address address in Model.LoggedInUser.AddressList)
            {
                <p>Adresse: @address.StreetName @address.StreetNumber , @address.CityName @address.Postalcode</p>
                
            }
            <p>Updater din bruger: <a class="btn bg-success" type="button" asp-page="/LoginPage/UpdateUser">Updater Bruger</a></p>
            <p>Se de carpools du har oprettet og været med til: 
            <a class="btn bg-success" type="button" asp-page="/Userpage/userHistory">Se din Historik</a></p>
            @if (Model.LoggedInUser.UserType == Models.UserType.Admin)
            {
                <p>Se alle Carpools: <a class="btn bg-success" type="button" asp-page="/AdminPage/AdminCarpools">Admin Carpool panel</a></p>
                <p>Opret ny Admin: <a class="btn bg-success" type="button" asp-page="/LoginPage/CreateUser">Opret Administrator</a></p>
            }
        </div>
        <div class="col">
            <div id="map"></div>

            <script>
        function InitializeMap() {
            
            var latlng = new google.maps.LatLng(@Model.LoggedInUser.AddressList[0].Latitude.ToString(new CultureInfo("en-US")), @Model.LoggedInUser.AddressList[0].Longtitude.ToString(new CultureInfo("en-US")));

            var myOptions = {
                zoom: 12,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("map"), myOptions);
            new google.maps.Marker({
                position: latlng,
                map,
                title: "Zealand Roskilde",
            });

        }
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2t8TFM7VJY_gUpk45PYxbxqqxPcasVho&callback=InitializeMap" async defer></script>
        </div>
    </div>
   
    @foreach (var comment in Model.UserComments)
    {
        <div class="comment">
            <a asp-page="/Userpage/VisitUsersProfile" asp-route-id="@comment.UserPostID.Id">@comment.UserPostID.Name @comment.UserPostID.Surname</a>
            <p>@comment.Text</p>
            
        </div>
    }
</div>