@page
@model Zealand_Carpool.Pages.LoginPage.CreateUserModel
@{
}
<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label class="form-text">Fornavn</label>
                    <input asp-for="@Model.CreateUser.Name" class="form-control" />
                    <span asp-validation-for="@Model.CreateUser.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-text">Efternavn</label>
                    <input asp-for="@Model.CreateUser.Surname" class="form-control" />
                    <span asp-validation-for="@Model.CreateUser.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-text">Telefonnummer</label>
                    <input asp-for="@Model.CreateUser.Phonenumber" class="form-control" />
                    <span asp-validation-for="@Model.CreateUser.Phonenumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-text">Email</label>
                    <input type="email" asp-for="@Model.CreateUser.Email" class="form-control" />
                    <span asp-validation-for="@Model.CreateUser.Email" class="text-danger"></span>
                </div>

                <div class="row">
                        <h6>Adresse 1:</h6>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-text">Vejnavn</label>
                            <input asp-for="@Model.Address1.StreetName" class="form-control" />
                            <span asp-validation-for="@Model.Address1.StreetName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-text">Vejnummer</label>
                            <input asp-for="@Model.Address1.StreetNumber" class="form-control" />
                            <span asp-validation-for="@Model.Address1.StreetNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-text">Postnummer</label>
                            <input asp-for="@Model.Address1.Postalcode" class="form-control" />
                            <span asp-validation-for="@Model.Address1.Postalcode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                            <div class="form-group">
                                <label class="form-text">Kommune</label>
                                <input asp-for="@Model.Address1.CityName" class="form-control" />
                                <span asp-validation-for="@Model.Address1.CityName" class="text-danger"></span>
                            </div>
                    
                    </div>
                </div>
                
                    <div class="form-group">
                        <label class="form-text">Password</label>
                        <input type="password" asp-for="@Model.CreateUser.Password" class="form-control" />
                        <span asp-validation-for="@Model.CreateUser.Password" class="text-danger"></span>
                    </div>
                    @if (Model.LoggedInUser != null && Model.LoggedInUser.UserType == Models.UserType.Admin)
                    {
                        <div class="form-group">
                            <label class="form-text">Bruger type:</label>
                            <input type="radio" asp-for="@Model.CreateUser.UserType" value="0" class="form-control" /> Bruger <br />
                            <input type="radio" asp-for="@Model.CreateUser.UserType" value="1" class="form-control" /> Admin
                            <span asp-validation-for="@Model.CreateUser.UserType" class="text-danger"></span>
                        </div>
                    }
                    <div style="padding:1rem;"></div>
                    <div class="form-group">

                        <input type="submit" class="btn btn-success float-right" value="Opret bruger" style="padding:1rem;" />
                    </div>
</form>
        </div>
        <div class="col">
            
        </div>
</div>
